:global {
    .aa{
        width: 500px;
        height: 500px;
    }
}
.example{
    // background: url('images/404.png');
    span{
        font-size: 18px;
        color: red;
    }
    a{
        font-size: 20px;
        margin: 20px;
    }
    .box{
        width: 100%;
        .lineBar{
            width: 500px;
            height: 500px;
        }
    }
}